// Included variables used by the app

// Colors
// Base Layout Color and its Shades
$layout-base: #00aec9;
$base-lighten-2: #2ebcd2;
$base-lighten-1: #17b5cd;
$base-darken-1: #009fb7;
$base-darken-2: #008fa5;
// B&W Layout Colors
$layout-black: #1a1a1a;
$layout-white: #eeeeee;
$layout-contrast-white: #c4c4c4;
$layout-contrast-black: #444444;
// Denotive Colors
$denotive-red: #ff6565;
$denotive-green: #36c77a;
$denotive-orange: #e29755;
$denotive-disabled-black: #2e2e2e;
$denotive-disabled-white: #dedede;
// Message Colors
$message-success: #2ed2a6;
$message-failed: #d05454;